

<div class="jumbotron">
    <img src="https://2rt9loawzcmbvlze40mhj9n0-wpengine.netdna-ssl.com/wp-content/uploads/2015/05/Ultimate-Steak-cropped.jpg" height="400px" width="1000px"/>
</div>
<h3>What you get using our services?</h3>
<div class="row">
    <div class="col-md-4">
        <h2>Fast delivery</h2>
        <img src="https://ih0.redbubble.net/image.14082231.1304/flat,800x800,070,f.u2.jpg" height="100px" width="100px" />
        <p>
            Our delivery vehicles are fast and your order will arrive for less then 15 minutes!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Hot Food</h2>
        <img src="http://covertexcorp.com/wp-content/uploads/2017/02/product-pizza.jpg" height="100px" width="100px" />
        <p>The bags we use can hold the food hot for more then 30 minutes and with the delivery time being always less then 15 min you will certainly get hot food</p>
        
    </div>
    <div class="col-md-4">
        <h2>Best quality food</h2>
        <img src="http://www.seriouslytravel.com/wp-content/uploads/2014/07/IT-Italian-Food-Ingredients1.jpg" height="100px" width="100px" />
        <p>The ingreadients we use are with the best quality so our food is always delicious</p>
    </div>
</div>


