@using TelerikAcademy.ForumSystem.Web.Models.Home
@model OrdersViewModel

@{
    ViewBag.Title = "Orders Page";
}
@if (!User.IsInRole("User") && !User.IsInRole("Admin"))
{
    Html.RenderAction("Login", "Account");
}
else
{
<hr />
<div class="row">
    @foreach (var order in Model.Order)
    {
        <div class="row">
                <div class="col-md-3">
                    <p><strong>Username: </strong>@order.UserName</p>
                </div>
                <div class="col-md-3">
                    <p><strong>Address: </strong>@order.Address</p>
                    
                </div>
            <div class="col-md-3">
                <p><strong>Meal: </strong>@order.Title</p>
            </div>
        </div>
       
    }
</div>

<hr />
}